certifi==2021.10.8
charset-normalizer==2.0.10
cloudpickle==2.0.0
docker==4.1.0
doit==0.34.0
idna==3.7
pyinotify==0.9.6 ; sys_platform == "linux"
pyyaml==5.3.1
requests==2.27.1
six==1.16.0
urllib3==1.26.8
websocket-client==1.2.3
